body {
  font-family: Arial, sans-serif;
  background-color: #d7f2f3;
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  text-align: center;
}

/* Section Headings */
h1, h2, h3 {
  margin: 1rem 0;
}

.highlight {
  font-weight: bold;
}
